/* Div de Titulo */

.div-titulo {
  display: flex;
  align-items: center;
}

.div-titulo h1 {
  margin: 16px 0 0 16px;
}

/* Carrossel */

.info {
  width: 80%;
  padding: 3%;
  line-height: 25px;
}

#carousel,
.carousel,
.slide {
  width: 100%;
  position: relative;
  margin: 0 auto;

}

.carousel {
  position: relative;
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

/*Duração da transição entre as imagens*/
.carousel .carousel-item {
  transition-duration: 1.5s;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 7%;
  color: #fff;
  text-align: center;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: var(--cor1);
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 2%;
}

.carousel-control-next {
  right: 2%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: no-repeat 30% / 100% 100%;
  background-position: center;
  padding: 50%;
}

.carousel-control-prev-icon {
  background-image: url("/assets/images/esquerda.png");
}

.carousel-control-next-icon {
  background-image: url("/assets/images/direita.png");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  top: 2%;
  left: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  /*text-indent: -999px;*/
  cursor: pointer;
  background-color: var(--cor1);
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/*Texto das imagens*/
.carousel-titulo {
  width: 70%;
  height: auto;
  padding: 3%;
  margin-left: 1%;
  background: rgb(173, 136, 198);
  background: var(--cor1);
  color: var(--cor3);
  position: absolute;
  bottom: 5%;
}

.carousel-titulo p {
  margin-top: 1%;
}

.div-carrossel {
  width: 100%;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-carrossel {
  width: 98%;
  height: 98%;

  background: linear-gradient(to bottom, var(--cor2), var(--cor3)) border-box;
  color: #313149;
  border: 5px solid transparent;
  border-radius: 15px;
  display: inline-block;


}

/* Cards */

.cards {
  display: flex;
  width: 99%;
  justify-content: space-between;

  margin: 3% 0;

}

.card {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-gap: 0;

  width: 30%;

  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, var(--cor2), var(--cor3)) border-box;
  color: #313149;
  border: 5px solid transparent;
  border-radius: 15px;


}

.image-wrapper {
  grid-column: span 2;
  grid-row: 1;
  position: relative;
}

.card-data {
  grid-column: span 1;
  grid-row: 2;
}

.card-hora {
  grid-column: span 1;
  grid-row: 2;
}

.card-bloco-titulo {
  grid-column: span 2;
  grid-row: 3;
  background-color: #FFFFFF;
  padding: 1.5em 1.2em 2.5em;
  margin-top: -0.2em;
  height: 80%;
}

.card-detalhes {
  grid-column: span 2;
  grid-row: 8;
}


.image-wrapper:after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 100%);
}

.card-imagem {
  width: 100%;
  border-radius: 0.45em 0.45em 0 0;
  object-fit: fill;
  max-height: 16em;
}

.card-titulo {
  color: var(--cor3);
  margin: 5% 0 2% 0;
}

.link-saiba-mais {
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: color 200ms ease-in 0s;
  color: #FFFFFF;
  letter-spacing: 0.1em;

}

.link-saiba-mais:hover {
  color: var(--blue);
}

.address {
  font-style: normal;
}


.card-rua,
.card-bairro {
  margin: 0.3em 0;
  color: var(--dark);
  opacity: 0.85;
}

.card-detalhes {
  background: rgb(173, 136, 198);
  background: linear-gradient(90deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 100%);

  padding: 1em;
  text-align: center;
  border-radius: 0 0 0 0.45em;
  transition: background-color 200ms ease-in 0s;
  cursor: pointer;
}

.card-detalhes:hover {
  background-color: #3b404c;
}





.data,
.hora {
  z-index: 2000;
  background-color: var(--cor2);

  color: #FFFFFF;
  text-align: center;
  padding: 0.8em 0.5em 0.3em;
  margin: -1.5em 0 -1.5em;
  max-height: 1.5em;
  font-size: 16px;
}


.data {
  margin-left: 1em;
  border-radius: 0.3em 0 0 0.3em;


  background: linear-gradient(90deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 100%);

}

.hora {
  max-width: 5em;
  border-radius: 0 0.3em 0.3em 0;
  background-color: var(--cor3);
}




/* Responsividade */

@media (max-width: 820px) {

  .carousel-titulo {
    width: 70%;
    padding: 1%;
    bottom: 10%;
    font-size: .8em;
    margin: 0;
    text-align: center;
  }

  .carousel-titulo p {
    display: none;
  }

  .div-carrossel {
    height: 380px
  }

}

@media (max-width: 1225px) and (min-width: 700px) {

  /*Cards*/

  .card {
    background: linear-gradient(var(--cor3), var(--cor3)) padding-box, linear-gradient(to bottom, var(--cor2), var(--cor3)) border-box;
  }

  .data,
  .hora {
    display: none;
  }

  .card-bloco-titulo {
    display: none;
  }

  .image-wrapper:after {
    background-image: linear-gradient(0deg, var(--cor3) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0) 100%);
  }
}

@media (max-width: 700px) {

  /* Carrossel */
  .a-carrossel {
    height: 445px;
  }

  .img-carrossel {
    background: linear-gradient(to right, var(--cor2), var(--cor3)) border-box;
    width: 100%;
    height: 98%;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }

  /* Cards */
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 6%;
  }

  .card {
    width: 80%;
    margin-top: 6%;
  }

}