@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor1: #B2A7B8;
    --cor2: #AD88C6;
    --cor3: #4C4452;
}

html {
    scroll-behavior: smooth;
  }


/* Tipografia */

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: var(--cor3);
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: var(--cor3);
}

h3 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--cor3);
}

h4 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: var(--cor3);
}

h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: var(--cor3);
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--cor3);
}

a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--cor3);
}

/* Fim Tipografia */

* {
    padding: 0;
    margin: 0;



}

body {
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
}

.fundo {
    width: 71%;
    height: 99%;
    position: fixed;
    top: 0;
    background-color: rgba(173, 136, 198, 0.1);
    z-index: -1;
    justify-self: center;
    align-self: center;
}

/* Barra de Navegação */

nav {
    width: 100%;
    height: 150px;
    z-index: 3;

    background: rgb(173, 136, 198);
    background: linear-gradient(180deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 80%);

    background-size: 100% 81px;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
}

.nav-container {
    width: 70%;

    display: flex;
    justify-content: space-between;
}

.nav-logo img {
    padding-left: 16px;
    width: 150px;
    height: 150px;
}

.menu {
    display: flex;
    align-self: center;
}

.nav-link {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    margin-right: 16px;
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-separacao {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    padding-right: 16px;
    opacity: 0.5;
}

.menu-icon {
    display: none;
}

.menu-icon img {
    width: 45px;
    height: 45px;
    margin-right: 16px;
    filter: drop-shadow(0px 0px 1px #FFFFFF);
}


/* Fim da Barra de Navegação */

/* Menu Mobile */

.menu-abrir {
    display: block;
    width: 100%;
}
.menu-fechar {
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    right:  0;
}


.overlay {

    height: 100%;
    width: 0%;
    position: fixed;
    z-index: -3;
    left: 0;
    top: 0;
    background: rgb(173,136,198);
    background: linear-gradient(90deg, rgba(173,136,198,0.9) 0%, rgba(76,68,82,0.9) 100%);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-conteudo {
    position: relative;
    top: 10%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay a, .overlay-link {
    width: 80%;
    padding: 8px;
    margin-top: 16px;
    text-decoration: none;
    font-size: 36px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    padding-bottom: 5%;    
   }

.overlay-link{
   
    border-image: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%) 1;
    border-width: 1px;
    border-style: solid;



    border-top: 0;
    border-right: 0;
    border-left: 0;


}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* Rodapé */

footer {
    width: 100%;
    height: 154px;
    background: rgb(173, 136, 198);
    background: linear-gradient(90deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 100%);

    box-shadow: 0em -0.3em 1em rgb(76 68 82 / 60%);

    display: flex;
    justify-content: center;
}

.rodape-container {
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo1 {
    padding-left: 16px;
    width: 150px;
    height: 150px;
}

.logo2 {
    position: relative;
    width: 150px;
    bottom: -38px;
    left: calc(50vw - 75px);
    display: none;
}

.rodape-menu {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: left;
}

.rodape-menu div {
    display: flex;
    justify-content: right;
}

.rodape-link,
.rodape-link1 {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-right: 16px;
    text-align: right;
}

.rodape-link {
    margin-top: 16px;
}

.rodape-link::before,
.rodape-link1::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.rodape-link:hover::before,
.rodape-link1:hover::before {
    transform: scaleX(1);
}

.div-subir {
    display: none;
    margin: 2% 2% 0 0;
    align-self: start;

}

.a-subir {
    border-radius: 50%;
    border: #FFFFFF solid 5px;
    background-color: #FFFFFF;
    filter: drop-shadow(0px 0px 1px #000000);
}

.img-subir {
    filter: drop-shadow(0px 0px 1px #000000);
}

/* Fim do Rodapé */


/* Main */
main {
    display: flex;
    justify-content: center;
}

article {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsividade */

@media (max-width: 820px) {

    .nav-link,
    .nav-separacao {
        margin-right: 8px;
        padding: 0;
    }
}

@media (max-width: 740px) {

    .nav-link,
    .nav-separacao {
        margin-right: 4px;
        padding: 0;
    }
}

@media (max-width: 700px) {

    .fundo {
        width: 100%;
    }

    article {
        width: 100%;
    }

    /* Barra de Navegação */

    nav {
        height: 60px;

        background-size: 100% 46px;
        background-repeat: no-repeat;
        background-position: top;

        margin-bottom: 16px;
    }

    .nav-container {
        width: 100%;
    }

    .nav-logo img {
        width: 60px;
        height: 60px;
    }

    .menu {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

 

    /* Rodapé */

    .rodape-container {
        width: 100%;
    }

    .div-subir {
        display: flex;
    }



    .rodape-menu {
        display: none;
    }

    .rodape-logo {

        align-self: center;
        justify-self: center;
        height: 100%;

    }

    .logo1 {
        display: none;
    }

    .logo2 {
        display: flex;
    }

    footer {
        background: rgb(173, 136, 198);
        background: linear-gradient(180deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 100%);
    }


}