@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor1: #B2A7B8;
    --cor2: #AD88C6;
    --cor3: #4C4452;
}


* {
    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-weight: 400;

}

body {
    bottom: 0;
    width: 100%;
    height: 100%;
    display: grid;
}

.fundo {
    width: 71%;
    height: 99%;
    position: fixed;
    top: 0;
    background-color: rgba(173, 136, 198, 0.1);
    z-index: -1;
    justify-self: center;
    align-self: center;
}

/* Barra de Navegação */

nav {
    width: 100%;
    height: 150px;

    background: rgb(173, 136, 198);
    background: linear-gradient(180deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 80%);

    background-size: 100% 81px;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
}

.nav-container {
    width: 70%;

    display: flex;
    justify-content: space-between;
}

.logo img {
    padding-left: 16px;
    width: 150px;
    height: 150px;
}

.menu {
    display: flex;
    align-self: center;
}

.nav-link {
    position: relative;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    margin-right: 16px;
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
}


.nav-separacao {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    padding-right: 16px;
    opacity: 0.5;
}

/* Fim da Barra de Navegação */

/* Rodapé */

footer {
    width: 100%;
    height: 154px;
    background: rgb(173, 136, 198);
    background: linear-gradient(90deg, rgba(173, 136, 198, 1) 0%, rgba(76, 68, 82, 1) 100%);

    box-shadow: 0em -0.3em 1em rgb(76 68 82 / 60%);

    display: flex;
    justify-content: center;
}

.rodape-container {
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape-menu {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: left;
}

.rodape-menu div {
    display: flex;
    justify-content: right;
}

.rodape-link, .rodape-link1 {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin-right: 16px;
    text-align: right;
}
.rodape-link{
    margin-top: 16px;
}

.rodape-link::before, .rodape-link1::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.rodape-link:hover::before, .rodape-link1:hover::before {
    transform: scaleX(1);
}

/* Fim do Rodapé */

/* Main */
main {
    display: flex;
    justify-content: center;
}

article {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
