@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.titulo{
    color: black;
    display: flex;
    margin-top: 20px;
    margin-left: 200px;
}

.subtitulo, .subtitulo2{
    padding-left: 15px;
    font-size: 28px;
}

strong{
    font-size: 28px;
}

.data{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
}

.hora{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-right: 200px; 
    padding-top: 50px;
}

.local{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    padding-left: 30px;
}


.descricao{
    font-size: 28px;
    display: flex;
    justify-content: center;
    padding: 50px;
    text-align: center;
}

.evento{
    width: 300px;
    height: 400px;
    border: 5px solid transparent;
    border-radius: 15px;
    background: linear-gradient(to bottom, #AD88C6, #4C4452) border-box; 
}

@media (max-width: 820px){
   .titulo{
       margin-right:60px;
       margin-left: 90px;
       width: 50%;
   }

   .subtitulo, .subtitulo2{
       height: 70%;
   }

   .hora{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
   }
   
   .data{
       margin-left: 15px;
   }

   .descricao{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    text-align: center;
   }

   .ima{
       padding-bottom: 120px;
   }

   .local{
       padding-left: 38px;
   }

}


@media (max-width: 1400px) and (min-width: 700px) {

    .titulo{
      margin-left: 200px;
    }

    .hora{
        margin-right: 160px;
    } 

    .data{
        width: 90%;
    }

    .subtitulo2{
        padding-bottom: 50px;
    }

    .descricao{
        padding-top: 40px;
        text-align: justify;
        width: 90%;
    }
}



